In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Bring in National Data

In [ ]:
nat00 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oes00nat\national_2000_dl.xls", sheet_name='Sheet1', header=38)
nat00

In [ ]:
nat01 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oes01nat\national_2001_dl.xls")
nat01.head(2)

In [ ]:
nat02 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oes02nat\national_2002_dl.xls")
nat02.head(2)

In [ ]:
nat03 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm03nat\national_may2003_dl.xls")
nat03.head(2)

In [ ]:
nat04 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm04nat\national_may2004_dl.xls")
nat04.head(2)

In [ ]:
nat05 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm05nat\national_may2005_dl.xls")
nat05.head(2)

In [ ]:
nat06 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm06nat\national_may2006_dl.xls")
nat06.head(2)

In [ ]:
nat07 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm07nat\national_May2007_dl.xls")
nat07.head(2)

In [ ]:
nat08 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm08nat\national__M2008_dl.xls")
nat08.head(2)

In [ ]:
nat09 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm09nat\national_dl.xls")
nat09.head(2)

In [ ]:
nat10 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm10nat\national_M2010_dl.xls")
nat10.head(2)

In [ ]:
nat11 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm11nat\national_M2011_dl.xls")
nat11.head(2)

In [ ]:
nat12 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm12nat\oesm12nat\national_M2012_dl.xls")
nat12.head(2)

In [ ]:
nat13 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm13nat\oesm13nat\national_M2013_dl.xls")
nat13.head(2)

In [ ]:
nat14 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm14nat\oesm14nat\national_M2014_dl.xlsx")
nat14.head(2)

In [ ]:
nat15 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm15nat\oesm15nat\national_M2015_dl.xlsx")
nat15.head(2)

In [ ]:
nat16 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm16nat\oesm16nat\national_M2016_dl.xlsx")
nat16.head(2)

In [ ]:
nat17 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm17nat\oesm17nat\national_M2017_dl.xlsx")
nat17.head(2)

In [ ]:
nat18 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm18nat\oesm18nat\national_M2018_dl.xlsx")
nat18.head(2)

In [ ]:
nat19 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm19nat\oesm19nat\national_M2019_dl.xlsx")
nat19.head(2)

In [ ]:
nat20 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm20nat\oesm20nat\national_M2020_dl.xlsx")
nat20.head(2)

In [ ]:
nat21 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\oesm21nat\national_M2021_dl.xlsx")
nat21.head(2)

In [ ]:
nat21 =  nat21.drop(['AREA_TITLE', 'AREA_TYPE', 'PRIM_STATE', 'NAICS', 'I_GROUP', 'AREA', 'NAICS_TITLE'], axis = 1)

In [ ]:
nat20 = nat20.drop(['AREA_TITLE', 'AREA_TYPE', 'PRIM_STATE', 'NAICS', 'I_GROUP', 'AREA', 'NAICS_TITLE'], axis = 1)

In [ ]:
nat19 = nat19.drop(['area_title', 'area_type', 'naics', 'i_group', 'area', 'naics_title'], axis = 1)

### Change columns to lowercase

In [ ]:
nat00.columns = map(str.lower, nat00.columns)
nat01.columns = map(str.lower, nat01.columns)
nat02.columns = map(str.lower, nat02.columns)
nat03.columns = map(str.lower, nat03.columns)
nat04.columns = map(str.lower, nat04.columns)
nat05.columns = map(str.lower, nat05.columns)
nat06.columns = map(str.lower, nat06.columns)
nat07.columns = map(str.lower, nat07.columns)
nat08.columns = map(str.lower, nat08.columns)
nat09.columns = map(str.lower, nat09.columns)
nat10.columns = map(str.lower, nat10.columns)
nat11.columns = map(str.lower, nat11.columns)
nat12.columns = map(str.lower, nat12.columns)
nat13.columns = map(str.lower, nat13.columns)
nat14.columns = map(str.lower, nat14.columns)
nat15.columns = map(str.lower, nat15.columns)
nat16.columns = map(str.lower, nat16.columns)
nat17.columns = map(str.lower, nat17.columns)
nat18.columns = map(str.lower, nat18.columns)
nat19.columns = map(str.lower, nat19.columns)
nat20.columns = map(str.lower, nat20.columns)
nat21.columns = map(str.lower, nat21.columns)

### Add a year column to National Data

In [ ]:
nat02['year'] = '2002'
nat03['year'] = '2003'
nat04['year'] = '2004'
nat05['year'] = '2005'
nat06['year'] = '2006'
nat07['year'] = '2007'
nat08['year'] = '2008'
nat09['year'] = '2009'
nat10['year'] = '2010'
nat11['year'] = '2011'
nat12['year'] = '2012'
nat13['year'] = '2013'
nat14['year'] = '2014'
nat15['year'] = '2015'
nat16['year'] = '2016'
nat17['year'] = '2017'
nat18['year'] = '2018'
nat19['year'] = '2019'
nat20['year'] = '2020'
nat21['year'] = '2021'

### Drop excess columns

In [ ]:
nat00 =  nat00.drop(['emp_prse', 'mean_prse', 'annual'], axis = 1)
nat01 =  nat01.drop(['emp_prse', 'mean_prse', 'annual'], axis = 1)
nat02 =  nat02.drop(['emp_prse', 'mean_prse', 'annual'], axis = 1)
nat03 =  nat03.drop(['emp_prse', 'mean_prse', 'annual'], axis = 1)
nat04 =  nat04.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat05 =  nat05.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat06 =  nat06.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat07 =  nat07.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat08 =  nat08.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat09 =  nat09.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat10 =  nat10.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat11 =  nat11.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat12 =  nat12.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat13 =  nat13.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat14 =  nat14.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat15 =  nat15.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat16 =  nat16.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat17 =  nat17.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat18 =  nat18.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat19 =  nat19.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat20 =  nat20.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)
nat21 =  nat21.drop(['emp_prse', 'mean_prse', 'annual', 'hourly'], axis = 1)

### Loop through inconsistencies of column names

In [ ]:
nat00 = nat00[['occ_code', 'occ_titl', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat01 = nat01[['occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat02 =nat02[['occ_code', 'occ_titl', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat03 =nat03[['occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat04 = nat04[['occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat05 =nat05[['occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat06 =nat06[['occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat07 =nat07[['occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat08 =nat08[['occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat09 =nat09[['occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat10 = nat10[['occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat11 =nat11[['occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat12 =nat12[['occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat13 = nat13[['occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat14 =nat14[['occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat15 =nat15[['occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat16 = nat16[['occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat17 = nat17[['occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat18 = nat18[['occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat19 = nat19[['occ_code', 'occ_title', 'o_group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat20 = nat20[['occ_code', 'occ_title', 'o_group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]
nat21 = nat21[['occ_code', 'occ_title', 'o_group', 'tot_emp', 'h_mean', 'h_median', 'a_median', 'year']]

df_list = [nat00, nat01, nat02, nat03, nat04, nat05, nat06, nat07, nat08, nat09,  nat10, nat11, nat12, nat13, nat14, nat15, nat16, nat17, nat18, nat19, nat20, nat21]

for i in df_list:
    for j in i:
        if j == 'occ_titl':
            i.rename(columns={j:'occ_title'}, inplace=True)
        if j == 'group':
            i.rename(columns={j:'occ_group'}, inplace=True)
        if j == 'o_group':
            i.rename(columns={j:'occ_group'}, inplace=True)

### Built two datasets (before/after 2012) to clean up code and occupation names over the year

In [ ]:
bf12 = [nat00, nat01, nat02, nat03, nat04, nat05, nat06, nat07, nat08, nat09,  nat10, nat11]
for i in bf12:
    for j in i:
        if j == 'occ_titl':
            i.rename(columns={j:'occ_title'}, inplace=True)
        if j == 'group':
            i.rename(columns={j:'occ_group'}, inplace=True)
        if j == 'o_group':
            i.rename(columns={j:'occ_group'}, inplace=True)

In [ ]:
bf12 = pd.concat([nat00, nat01, nat02, nat03, nat04, nat05, nat06, nat07, nat08, nat09, nat10, nat11])
bf12.head(50)

In [ ]:
jobtrends = pd.concat([nat12, nat13, nat14, nat15, nat16, nat17, nat18, nat19, nat20, nat21], axis=0)

In [ ]:
jobtrends = jobtrends[jobtrends["occ_group"].str.contains("minor")==False]

In [ ]:
jobtrends = jobtrends[jobtrends["occ_group"].str.contains("broad")==False]

### Concat both datasets

In [ ]:
jobtrends = pd.concat([bf12, jobtrends])
jobtrends.head()

### Build new dataset containing only "All Occupations" from jobtrends dataset

In [ ]:
All_Occupations = jobtrends[jobtrends['occ_title'].str.contains('All Occupations')]
All_Occupations

### Drop "All Occupations" from "jobtrends" data set as to not skew the data

In [ ]:
jobtrends = jobtrends[jobtrends["occ_title"].str.contains("All Occupations")==False]

In [ ]:
jobtrends.head(50)

In [ ]:
jobtrends.head(50)

In [ ]:
##jobtrends.to_excel("jobtrends.xlsx")

In [ ]:
##All_Occupations.to_excel('all_occupations.xlsx')

### Bring in data by state

In [ ]:
state00 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oes00st\state_2000_dl.xls")
state01 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oes01st\state_2001_dl.xls")
state02 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oes02st\state_2002_dl.xls")
state03 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm03st\state_may2003_dl.xls")
state04 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm04st\state_may2004_dl.xls")
state05 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm05st\state_may2005_dl.xls")
state06 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm06st\state_may2006_dl.xls")
state07 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm07st\state_may2007_dl.xls")
state08 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm08st\state__M2008_dl.xls")
state09 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm09st\state_dl.xls")
state10 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm10st\state_M2010_dl.xls")
state11 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm11st\state_M2011_dl.xls")
state12 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm12st\state_M2012_dl.xls")
state13 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm13st\state_M2013_dl.xls")
state14 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm14st\oesm14st\state_M2014_dl.xlsx")
state15 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm15st\oesm15st\state_M2015_dl.xlsx")
state16 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm16st\oesm16st\state_M2016_dl.xlsx")
state17 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm17st\oesm17st\state_M2017_dl.xlsx")
state18 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm18st\oesm18st\state_M2018_dl.xlsx")
state19 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm19st (1)\oesm19st\state_M2019_dl.xlsx")
state20 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm20st\oesm20st\state_M2020_dl.xlsx")
state21 = pd.read_excel(r"C:\Users\emmaj\Documents\NSS\Capstone\final-capstone\data\state_data\oesm21st\oesm21st\state_M2021_dl.xlsx")

In [ ]:
state00['year'] = '2000'
state01['year'] = '2001'
state02['year'] = '2002'
state03['year'] = '2003'
state04['year'] = '2004'
state05['year'] = '2005'
state06['year'] = '2006'
state07['year'] = '2007'
state08['year'] = '2008'
state09['year'] = '2009'
state10['year'] = '2010'
state11['year'] = '2011'
state12['year'] = '2012'
state13['year'] = '2013'
state14['year'] = '2014'
state15['year'] = '2015'
state16['year'] = '2016'
state17['year'] = '2017'
state18['year'] = '2018'
state19['year'] = '2019'
state20['year'] = '2020'
state21['year'] = '2021'

In [ ]:
state00.columns = map(str.lower, state00.columns)
state01.columns = map(str.lower, state01.columns)
state02.columns = map(str.lower, state02.columns)
state03.columns = map(str.lower, state03.columns)
state04.columns = map(str.lower, state04.columns)
state05.columns = map(str.lower, state05.columns)
state06.columns = map(str.lower, state06.columns)
state07.columns = map(str.lower, state07.columns)
state08.columns = map(str.lower, state08.columns)
state09.columns = map(str.lower, state09.columns)
state10.columns = map(str.lower, state10.columns)
state11.columns = map(str.lower, state11.columns)
state12.columns = map(str.lower, state12.columns)
state13.columns = map(str.lower, state13.columns)
state14.columns = map(str.lower, state14.columns)
state15.columns = map(str.lower, state15.columns)
state16.columns = map(str.lower, state16.columns)
state17.columns = map(str.lower, state17.columns)
state18.columns = map(str.lower, state18.columns)
state19.columns = map(str.lower, state19.columns)
state20.columns = map(str.lower, state20.columns)
state21.columns = map(str.lower, state21.columns)

In [ ]:
state00 = state00[['state','occ_code', 'occ_titl', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_wpct10', 'a_wpct90', 'a_median', 'year']]
state01 = state01[['state','occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_wpct10', 'a_wpct90', 'a_median', 'year']]
state02 = state02[['state','occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_wpct10', 'a_wpct90', 'a_median', 'year']]
state03 = state03[['state','occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state04 = state04[['state','occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state05 = state05[['state','occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state06 =state06[['state','occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state07 = state07[['state','occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state08 = state08[['state','occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state09 = state09[['state','occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median',  'a_pct10', 'a_pct90','a_median', 'year']]
state10 = state10[['state','occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state11 = state11[['state','occ_code', 'occ_title', 'group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state12 = state12[['state','occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state13 = state13[['state','occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state14 = state14[['state','occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state15 = state15[['state','occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state16 = state16[['state','occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state17 = state17[['state','occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state18 = state18[['state','occ_code', 'occ_title', 'occ_group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state19 = state19[['area_title','occ_code', 'occ_title', 'o_group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state20 = state20[['area_title','occ_code', 'occ_title', 'o_group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]
state21 = state21[['area_title','occ_code', 'occ_title', 'o_group', 'tot_emp', 'h_mean', 'h_median', 'a_pct10', 'a_pct90', 'a_median', 'year']]

df_list = [state00, state01, state02, state03, state04, state05, state06, state07, state08, state09, state10, state11, state12, state13, state14, state15, state16, state17, state18, state19, state20, state21] 
    
for i in df_list:
    for j in i:
        if j == 'a_wpct10':
            i.rename(columns={j:'a_pct10'}, inplace=True)
        if j == 'group':
            i.rename(columns={j:'occ_group'}, inplace=True)
        if j == 'o_group':
            i.rename(columns={j:'occ_group'}, inplace=True)
        if j == 'a_wpct90':
            i.rename(columns={j: 'a_pct90'}, inplace=True)

In [ ]:
state19 = state19.rename(columns={'area_title': 'state'})
state20 = state20.rename(columns={"area_title": "state"})
state21 = state21.rename(columns={"area_title": "state"})

In [ ]:
jobtrends_state = pd.concat([state01, state02, state03, state04, state05, state06, state07, state08, state09, state10, state11, state12, state13, state14, state15, state16, state17, state18, state19, state20, state21], axis=0)
jobtrends_state

In [ ]:
All_Occupations_state = jobtrends_state[jobtrends_state['occ_title'].str.contains('All Occupations')]
All_Occupations_state

In [ ]:
jobtrends_state = jobtrends_state[jobtrends_state["occ_title"].str.contains("All Occupations") == False]

In [ ]:
##jobtrends_state.to_excel("jobtrends_state.xlsx")

In [ ]:
##All_Occupations_state.to_excel('all_occupations_state.xlsx')